*{margin: 0;
padding: 0;
box-sizing: border-box;

}

body {

    font-family: "balatro";
    background-color:#00203171;
    
}

@font-face {
    font-family: "balatro";
    src: url(fonts/balatro.otf.woff2);
}