*{margin: 0;
padding: 0;
box-sizing: border-box;

}

body {

    font-family: "balatro";
    background:linear-gradient(30deg,#00203171,#31000071);
    background-repeat:no-repeat;
    margin:auto;
    background-color: rgb(27, 27, 27);
    background-attachment: fixed;
    
}

@font-face {
    font-family: "balatro";
    src: url(fonts/balatro.otf.woff2);
}

h1, h2 {color: aliceblue;}

a{ color:dodgerblue}