*
{margin: 0;
padding: 0;
box-sizing: border-box;
}

body {

    font-family: "balatro";
    background:linear-gradient(30deg,#00203171,#31000071);
    background-repeat:no-repeat;
    margin:auto;
    background-color: rgb(27, 27, 27);
    background-attachment: fixed;
    
}

@font-face {
    font-family: "balatro";
    src: url(fonts/balatro.otf.woff2);
}

h1, h2 {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
    
    color:aliceblue;
}

a{ color:dodgerblue}

.container{
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 1rem;
    border-bottom: 2px dashed #e0e0e0;
}

.main-nav ul {
    display: flex;
    list-style: none;

}

.main-nav li {
    margin-right: 20px;
    margin-left:20px;
}

.main-nav a {
    font-weight: 700;
}

#hero {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.723)), url('imagenes/balatro fondo.jpg');
    background-size: cover;
    background-position: center;
    color:#ffffff;
    padding: 180px 0;
    text-align:center;
    border-bottom: 2px dashed #e0e0e0;
}

#hero h1 {
    color:#ffffff;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

#hero p {
    color:#ffffff;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}